* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.app {
  height: 100vh;

  display: flex;
  justify-content: center;

  padding: 1rem 0;

  background-color: hsl(228, 33%, 97%);
}
